* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.leftArea {
	float: left;
	width: 260px;
	margin-right: 20px;
	border: solid 1px #CCCCCC;
	overflow-y: scroll;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

h2 {
	width: 12px;
	height: 10px;
}

li a {
	text-decoration: none;
	display: block;
	color: #000000;
	border-bottom: solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

.mainArea {
	float: left;
	margin-right: 20px;
	overflow-y: scroll;
	width: 300px;
}

.rightArea {
	float: left;
	overflow-y: scroll;
	width: 270px;
}

.image {
	width: 90%;
	height: 50%;
	border: 0px solid gray; 
}

.mainArea input {
	margin-bottom: 15px;
	margin-top: 5px;
	width: 280px;
}

textarea {
	margin-bottom: 15px;
	margin-top: 5px;
	height: 200px;
	width: 250px;
}

label {
	display: block;
}

#slideshow {
	margin: 80px auto;
	position: relative;
	width: 620px;
	height: 620px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}