<!DOCTYPE HTML>
<html>
<head>
<title>BookShop</title>
<link rel="stylesheet" href="resources/css/styles.css" />
<link rel="stylesheet" href="resources/css/font-awesome.css" />
<link rel="stylesheet" href="resources/css/bootstrapV4.css" />
<link rel="stylesheet" href="resources/css/jquery.dataTables.css" />
<script src="resources/js/jquery.js"></script>
<script src="resources/js/underscore-min.js"></script>
<script src="resources/js/backbone-min.js"></script>
<script src="resources/js/jquery-3.3.1.min.js"></script>
<script src="resources/js/mainView.js"></script>
<script src="resources/js/popper.min.js"></script>
<script src="resources/js/bootstrapV4.js"></script>
<script src="resources/js/jquery.dataTables.js"></script>

<script type="text/html" id="bookModalTemplate">
				<label>BookID:</label><input type="text" id="bookId" class="input-dialogbox" value="<%=bookId%>" disabled><br>			
				<label>Title: </label><input type="text" id="title" class="input-dialogbox" value="<%=title%> " ><br>
				<label>Author: </label><input type="text"  id="author" class="input-dialogbox" value="<%=author%>" required><br>
				<label>Publisher: </label><input type="text"  id="publisher" class="input-dialogbox" value="<%=publisher%>"><br>
				<label>Edition: </label><input type="text" id="edition" class="input-dialogbox" value="<%=edition%>"><br>										
				<label>ISBN: </label><input type="text" id="isbn" class="input-dialogbox" value="<%=isbn%>"><br>
				<label>Price: </label><input type="text"  id="price" class="input-dialogbox" value="<%=price%>"><br>
				<label>Picture: </label><input type="text"  id="picture" class="input-dialogbox" value="<%=picture%>"><br>
				<label>Description: </label><input type="text"  id="description" class="input-dialogbox" value="<%=description%>"><br>		
</script>
<script type="text/html" id="bookTemplate">			
				<img src="resources/images/<%= picture %>" class=" image center">
				<p class="center">Title: <%= title %> </p>
				<p class="center">Author: <%= author %> </p>
				<p class="center">Price: <%= price %> </p>		
</script>
</head>

<body background="resources/images/light-blue-background.jpg">
	<img src="resources/images/logo-book.png" height="100" width="100">

	<p>
		<i>The most technologically efficient machine that man has ever
			invented is the book.</i>ľNorthrop Frye
	</p>
	<div id="success" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Success</h4>
				</div>
				<div class="modal-body">
					<p>Your request completed with success</p>
				</div>
				<div class="modal-footer" id="modalClose">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<div id="error" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Error</h4>
				</div>
				<div class="modal-body">
					<p>Error by executing query.</p>
					<p>Please try again</p>
				</div>
				<div class="modal-footer">
					<button type="button" id="modalClose" class="btn btn-default"
						data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<section>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" href="#home" role="tab"><span
					class="fa fa-home fa-lg"></span> Home</a></li>
			<li class="nav-item"><a id="viewPage" class="nav-link"
				data-toggle="tab" href="#view" role="tab"><span
					class="fa fa-list fa-lg"></span> Products</a></li>
			<li class="nav-item"><a id="adminPage" class="nav-link"
				data-toggle="tab" href="#admin" role="tab"><span
					class="fa fa-user-circle fa-lg"></span> Admin</a></li>
		</ul>

		<!--  Tab Panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="home">

				<div id="slideshow">
					<div>
						<img src="resources/images/backImage.png" height="600" width="600">
					</div>
					<div>
						<img src="resources/images/backImage3.jpg" height="600"
							width="600">
					</div>
					<div>
						<img src="resources/images/backImage4.jpg" height="600"
							width="600">
					</div>

				</div>
			</div>

			<div class="tab-pane" id="view">
				<!-- <h2>Books</h2> -->
				<div class="container">
					<div id="bookList" class="row"></div>

				</div>
			</div>

			<div class="tab-pane" id="admin">
				<!-- <h2></h2> -->
				<div>
					<table id="table_id" class="display">
						<thead>
							<tr>
								<th>Title</th>
								<th>Author</th>
								<th>Publisher</th>
								<th>Edition</th>
								<th>ISBN</th>
								<th>Price</th>
								<th>Description</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody id="table_body">

						</tbody>
					</table>
				</div>
			</div>
			<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add/Edit Books</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="modalBody">
							<!-- <div id="modal-left">
								<label>BookId:</label> <input id="bookId" name="bookId"
									type="text" disabled /><br> <label>Title:</label> <input
									type="text" id="title" name="title" required /><br> <label>Author:</label>
								<input type="text" id="author" name="author" /><br> <label>Publisher:</label>
								<input type="text" id="publisher" name="publisher" /><br>
								<label>Edition:</label> <input type="text" id="edition"
									name="edition" /><br> <label>Price:</label> <input
									type="text" id="price" name="price" /><br> <label>ISBN:</label>
								<input type="text" id="isbn" name="isbn" /><br> <label>Picture:</label>
								<input type="text" id="picture" name="picture" /><br> <label>Description:</label>
								<textarea type="text" id="description" name="description"></textarea>
							</div>
							<div id="modal-right">
								<img class="image" src="" />
							</div> -->
						</div>
						<div class="modal-footer">
							<input id="btnClear" type="button" class="btn btn-primary"
								value="Clear" /> <input id="btnAdd" type="button"
								class="btn btn-primary" value="New Book" /> <input id="btnSave"
								type="button" class="btn btn-primary" value="Save" /> <input
								id="btnDelete" type="button" class="btn btn-primary"
								value="Delete" />
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="footer" class="col-sm 12 mt-5 footer">
		<p class="text-block small text-center">&copy; 2018 BookShop</p>
	</div>
</body>
</html>